.iconesStacks{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    height : 3.5rem;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(-15px) scale(1.05);

  }
}

@media  screen and (max-width:768px) {
  .iconesStacks{
   visibility: hidden;
}
}