.soutien{
top: 0;
right: 300px;
animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-25px);
    transform: translateX(-5px);
  }

  to {
    transform: translateY(-25px) scale(1.2);

  }
}