.projetBox{
    border : 1px solid #111111;
    border-radius: 5px;
    width: 340px;
    height: 400px;
    padding: 30px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 14px;
    
}

.github{
   position: absolute;
   bottom: 0;
   right: -40px;
   opacity: 0.5;
   transition: 0.4s ease all;
}

.github:hover{
    transform: scale(1.2);
    transition: 0.4s ease all;
}

.link{
   position: absolute;
   bottom: 30px;
   right: -40px;
   opacity: 0.5;
   transition: 0.4s ease all;
}

.link:hover{
    transform: scale(1.2);
    transition: 0.4s ease all;
}
/* border-2 border-graydark rounded-md w-72 h-80 bg-navbg */